<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viking Ipsum</title>
    <link rel="stylesheet" href="../styles/main.css" type="text/css">
    <link rel="stylesheet" href="../styles/ipsum.css" type="text/css">
    <script src="../scripts/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Viking Ipsum</h1>
        <label>How many paragraphs? <input v-model="paragraphAmount" type="number" min="1" max="50"></label>
        <button v-on:click="getParagraphs">Generate</button>
        <div class="output">
            <img src="../media/loading.svg" class="loader" v-bind:class="{ activeLoader: isLoading }">
            <p v-for="x in output">{{ x }}</p>
        </div>
        <footer>This project was made by a CS student from Switzerland. Feel free to <a href="https://github.com/Pascip/vikingLife">contribute</a>?</footer>
    </div>
    <script src="../scripts/mainLogic.js"></script>
</body>
</html>
