body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(var(--vh, 1vh) * 100);
}
h1, p, footer{
    width: 95%;
    max-width: 1000px;
    text-align: center;
}
p{
    flex: 1;
    font-size: 2em;
    margin-top: 5em;
}
@media only screen and (max-width: 700px) {
    h1{
        font-size: 4em;
    }
    p{
        font-size: 1em;
    }
    footer{
        font-size: 0.5em;
    }
}
